/* Developers: Tamir Razon 207421322, Daniel Korkus 314629692 */
/* App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 65% of the viewport height */
  height: 65vh;
  margin: 0;
  margin-top: 15vh;
}

.container {
  display: flex;
  flex-direction: column;
  /* Center items horizontally */
  align-items: center;
}

.section {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

/* Styling for input fields, select elements, and buttons */
input,
select,
button {
  margin-bottom: 10px;
}

/* Styling for select elements and buttons */
select,
button {
  padding: 5px;
}

/* Styling for date input type */
input[type="date"] {
  padding: 5px 10px;
}

button {
  background-color: #007bff;
  color: white;
  /* Show pointer cursor on hover */
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
}

/* Styling for the container of cost form */
.cost-form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Styling for input group */
.input-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 900px;
}

/* Styling for individual items in input group */
.input-group>* {
  flex: 1;
}

#title {
  font-size: 42px;
  font-weight: bold;
  color: #3463c2;
  text-align: center;
}

/* Styling for container */
#container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Styling for container of date */
#container-date {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 25px;
}
